root = true # остановить поиск новых editorconfig для этого проекта

[*] # расширения файлов на которые распространяется конфиг
end_of_line = crlf # lf - перенос строки; cr - перенос каретки в начало строки; crlf - и то и то
insert_final_newline = true # вставлять пустую строку в конце файла при сохранении
trim_tralling_whitespace = true # удалить все пробелы перед символами переноса строк
charset = utf-8
# indent_style = tab # стиль "табуляций"
# indent_size = 2 # количество пробелов в "табуляции"
